.t{

    width:60px;
    height: 30px;
    border-radius:30px;
    border: 2px solid crimson;

    background-color: white;
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 999;
    display:flex;align-items: center;
    justify-content: space-around;
}
.t_icon{
    width:25px;
    height:25px;
}
.t-button{
    width: 32px;
    height: 30px;
    border-radius:30px;
 
    background-color:#999;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition:0.4s ease;
    /* left: 0; */
}
.t-button:hover{
    width: 32px;
    height: 30px;
    border-radius:30px;
 
    background-color:#e47c1b;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    /* left: 0; */
}