.nav_bar {
    /* background-color:#7aa3e6; */
    padding: 0px;
    margin: 0px;


}
.nav_bar .navImg{
    height:30px;
    width:30px;
    border-radius: 50%;
   
}
.nav_bar h1{
   font-weight: bolder;
   color:tomato;
    
   
}

.nav_bar a {
    /* background-color:#7aa3e6; */
    /* color: whitesmoke; */
    transition: 0.4s ease;
    font-size: 20px;
    font-weight: bold;

}

.nav_bar a:hover {
    border: none;
   

    transition: 0.4s ease;
    
   
    color:  whitesmoke;
    background-color:crimson;
    border-radius: 7px;
    


     

}

.nav_icon {
    color: whitesmoke;
}

#downloadBtn {
    border: 1px solid #e67e22;
    border-radius: 5px;
    background-color: #e67e22;
    color: #fff;
    transition:0.5s ease;
    font-weight: bolder;

}

#downloadBtn:hover {
    border: 1px solid #e67e22;
    border-radius: 5px;
    background-color: #2ecc71;
  
    color: #fff;

}


@media only screen and (max-width: 600px) {

    .nav_bar a{
        text-align: center;
    }

    .nav_bar a:hover {
        border: none;
        background-color: tomato;
        transition: 0.7s ease;
        color: whitesmoke;
    
    }
   
}

/* ====================FOR LAPTOP DEVICE====================== */
@media screen and(max-width:1024px) {
    .nav_bar a:hover {
        border: none;
       
    
       
        color: crimson !important;
      
    
    }
}